doctype html
html

  head
    title milanofixer.com
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    //- Basic SEO improvements
    meta(name='keywords', content='fixer milano, fixer, milano')
    meta(name='author', content='Alessio Zappa')
    meta(name='description', content='Milano Fixer')
    meta(name='google-site-verification', content='')

    //- Open Graph protocol - Discover more at http://ogp.me/
    meta(property='og:title', content='')
    meta(property='og:url', content='')
    meta(property='og:description', content='')
    meta(property='og:image', content='')

    //- Site styles
    link(rel='stylesheet' href='/css/style.css')

    //- Cross-platform favicon resources - Discover more at https://realfavicongenerator.net/blog/favicon-why-youre-doing-it-wrong/
    meta(name='msapplication-TileColor' content='#AAAAAA')
    meta(name='msapplication-TileImage' content='/img/mstile-icon.png')
    link(rel='apple-touch-icon' href='/img/apple-touch-icon.png')
    link(rel='shortcut icon' href='/img/favicon.ico')
    link(rel='icon' href='/img/favicon.png' type='image/png')

  body
    block app