doctype html
html(lang='en')

  head
    title milanofixer.com
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    //- Basic SEO improvements
    meta(name='keywords', content='fixer milano, fixer, milano, tv production, pre-production, camera operators, post-production, fixer Italy, italy')
    meta(name='author', content='Claudia Nardin & Sara Socciarelli')
    meta(name='description', content='Milano Fixer')

    //- Open Graph protocol - Discover more at http://ogp.me/
    meta(property='og:title', content='Milano Fixer')
    meta(property='og:url', content='https://milanofixer.com')
    meta(property='og:description', content='')
    meta(property='og:image', content='https://milanofixer.com/img/logo.png')

    //- Site styles
    link(rel='stylesheet' href='/css/style.css')

    //- Cross-platform favicon resources - Discover more at https://realfavicongenerator.net/blog/favicon-why-youre-doing-it-wrong/
    meta(name='msapplication-TileColor' content='#AAAAAA')
    meta(name='msapplication-TileImage' content='/img/mstile-icon.png')
    link(rel='apple-touch-icon' href='/img/apple-touch-icon.png')
    link(rel='shortcut icon' href='/img/favicon.ico')
    link(rel='icon' href='/img/favicon.png' type='image/png')

  body
    block app