extends _layout

block app
  .c

    #header
      img#top-logo(src='/img/logo.png', alt='Milano Fixer')
      .links
        a.no-underline(href='https://www.facebook.com/milanofixer/' rel='noopener' target='_blank' title='Facebook')
          span.icon.facebook
          span.label Facebook
        a.no-underline(href='https://www.instagram.com/milanofixer/' rel='noopener' target='_blank' title='Instagram')
          span.icon.instagram
          span.label Instagram

    #cover

    .spacer-40

    .p

      #bio
        .center
          h1 Your fixer. In Italy, in the world.
          p
            | Ciao! We are Sara and Claudia, two italian editors based in Milan with experience in the field of Tv Production. 
            | We have been working for several years in one of the two biggest television companies in Italy.
            | We speak english and spanish and our team speak also russian and french. 
            | We are also available for Italian Productions that need support for filming all over the world... 
            | that’s our daily job!

      .spacer-40

      #skills
        .center
          h1 What we do for you
          p
            | First of all Pre-production, we can help you finding stories, locations, contacts and asking permits if needed. 
            | We can connect you with local authorities, specialists in every sector (for example health, food, fashion, tourism specialists and scientists) and press office.
            br
            | On the field: we provide interpreters, camera operators, sound and lights technicians, drivers. 
            | We guarantee you also the best accommodations at the lowest rate.
            br
            | Production services and fixing activities will be assisting and coordinating your project throughout Italy before, during and after your visit, providing you a full assistance. 
            | Indeed, after filming, our team can provide you post-production services.
            br
            | We can't wait to start new exciting projects!!!

        .spacer-40

        .center
          h2 On Worldfixer platform
          p 
            | You can find what they say about us on 
            a(href='https://worldfixer.com/profile/5e56469457d07a3ea615d6a3' target='_blank' rel='noopener')
              img.worldfixer(src='/img/worldfixer.png' alt='woldfixer.com platform')

        .spacer-40

        .center
          h2 Facebook &amp; Instagram
          p
            | Follow our activity on&nbsp;
            a(href='https://www.facebook.com/milanofixer/' target='_blank' rel='noopener')
              span.icon.facebook
              span Facebook
            | &nbsp;and&nbsp;
            a(href='https://www.instagram.com/milanofixer/' target='_blank' rel='noopener')
              span.icon.instagram
              span Instagram

        .spacer-40

      #contacts
        .center
          h2 Contattaci
          ul
            li
              a(href='mailto:milanofixer@gmail.com')
                span.icon.envelope
                span @milanofixer

            li
              a(href='tel:+393489122191')
                span.icon.mobile
                span +393489122191
            li
              a(href='tel:+393470431506')
                span.icon.mobile
                span +393470431506

      .spacer-20
